<template>
  <div>
    <input class="input-fancy" v-model="searchText" type="text" placeholder="Search..." @keydown.enter="handleEnter">
    <div class="fancy-list" v-for="(result, index) in searchResults" :key="index">
      {{ result }}
    </div>
    <button @click="handleMode('dark')">Dark Mode</button>
    <button @click="handleMode('light')">Light Mode</button>
  </div>
</template>

<script setup lang="ts">
import {checkTheme} from '../helpers/themeMode'
import {ref, watchEffect} from 'vue'

const searchText = ref('');
const searchResults = ref<string[]>([]);
const handleEnter = () => {
  searchResults.value.push(searchText.value);
  searchText.value = '';
}

const handleMode = (mode: string) => {
  if (mode === 'dark') {
    localStorage.theme = 'dark'
  } else {
    localStorage.theme = 'light'
  }
  checkTheme();
}
watchEffect(() => {
  console.log('current results', searchResults.value);
})
</script>
<style scoped>
.input-fancy {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  color: #181818;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.input-fancy:focus {
  outline: none;
  border-color: #414141;
}

.fancy-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  color: #181818;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 8px;
}
</style>
